extend layout

block content
  h2 Get Information Filling the Gap!
  input.idTicket
  button(id='submit') get Information
  p
    | please click on button

block sidebar
  .widget
    h1 The research Information
    p
      | 
    
    p
      | 